@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ECECEC;
    background-image: url("/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}